<section id="about" class="about">
  <div class="section-heading text-center">
    <h2>about me</h2>
  </div>
  <div class="container">
    <div class="about-content">
      <div class="row">
        <div class="col-sm-6">
          <div class="single-about-txt">
            <h3>
              I am a Professional Web developer.
            </h3>
            <p>
              Experienced Software Engineer with over six years of expertise in developing robust web applications using Angular, ReactJS, and the NodeJS. Proven track record in leading and managing teams. Adept at leveraging modern technologies such as Typescript, Node.js, and GraphQL to deliver efficient and scalable solutions. Demonstrated success in optimizing workflows and ensuring high code quality through unit testing. Strong background in the POS, healthcare, and e-commerce sectors with a focus on user-friendly interfaces and seamless user experiences. Committed to continuous learning and staying up-to-date with industry trends to drive innovation and deliver exceptional results.
            </p>
            <div class="row">
              <div class="col-sm-3">
                <div class="single-about-add-info">
                  <h3>phone</h3>
                  <p>+923067866770</p>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="single-about-add-info">
                  <h3>email</h3>
                  <p>muazzamshabbir3&#64;gmail.com</p>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="single-about-add-info">
                  <h3>website</h3>
                  <p>www.moazzam.com</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-offset-1 col-sm-5">
          <div class="single-about-img">
            <img src="assets/images/about/profile_image.jpg" alt="profile_image">
            <div class="about-list-icon">
              <ul>
                <li>
                  <a href="#">
                    <i  class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                </li><!-- / li -->
                <li>
                  <a href="#">
                    <i  class="fa fa-dribbble" aria-hidden="true"></i>
                  </a>

                </li><!-- / li -->
                <li>
                  <a href="#">
                    <i  class="fa fa-twitter" aria-hidden="true"></i>
                  </a>

                </li><!-- / li -->
                <li>
                  <a href="#">
                    <i  class="fa fa-linkedin" aria-hidden="true"></i>
                  </a>
                </li><!-- / li -->
                <li>
                  <a href="#">
                    <i  class="fa fa-instagram" aria-hidden="true"></i>
                  </a>
                </li><!-- / li -->


              </ul><!-- / ul -->
            </div><!-- /.about-list-icon -->

          </div>

        </div>
      </div>
    </div>
  </div>
</section><!--/.about-->
