<div>
  <!-- top-area Start -->
  <app-header></app-header>
  <!-- top-area End -->

  <!--welcome-hero start -->
  <app-welcome></app-welcome>
  <!--welcome-hero end -->

  <!--about start -->
  <app-about></app-about>
  <!--about end -->

  <!--education start -->
  <app-education></app-education>
  <!--education end -->

  <!--skills start -->
  <app-skills></app-skills>
  <!--skills end -->

  <!--experience start -->
  <app-experience></app-experience>
  <!--experience end -->

  <!--profiles start -->
  <app-profiles></app-profiles>
  <!--profiles end -->

  <!--portfolio start -->
  <app-portfolio></app-portfolio>
  <!--portfolio end -->

  <!--clients start -->
  <section id="clients" class="clients">
    <div class="section-heading text-center">
      <h2>clients</h2>
    </div>
    <div class="clients-area">
      <div class="container">
        <div class="owl-carousel owl-theme" id="client">
          <div class="item">
            <a href="#">
              <img src="assets/images/clients/c1.png" alt="brand-image" />
            </a>
          </div><!--/.item-->
          <div class="item">
            <a href="#">
              <img src="assets/images/clients/c2.png" alt="brand-image" />
            </a>
          </div><!--/.item-->
          <div class="item">
            <a href="#">
              <img src="assets/images/clients/c3.png" alt="brand-image" />
            </a>
          </div><!--/.item-->
          <div class="item">
            <a href="#">
              <img src="assets/images/clients/c4.png" alt="brand-image" />
            </a>
          </div><!--/.item-->
          <div class="item">
            <a href="#">
              <img src="assets/images/clients/c5.png" alt="brand-image" />
            </a>
          </div><!--/.item-->
          <div class="item">
            <a href="#">
              <img src="assets/images/clients/c6.png" alt="brand-image" />
            </a>
          </div><!--/.item-->
          <div class="item">
            <a href="#">
              <img src="assets/images/clients/c7.png" alt="brand-image" />
            </a>
          </div><!--/.item-->
        </div><!--/.owl-carousel-->
      </div><!--/.container-->
    </div><!--/.clients-area-->

  </section><!--/.clients-->
  <!--clients end -->

  <!--contact start -->
  <app-contact></app-contact>
  <!--contact end -->

  <!--footer-copyright start-->
  <app-footer></app-footer>
  <!--footer-copyright end-->
</div>
